.home {
  h2 {
    text-align: center;
  }

  h4 {
    text-align: center;
  }

  #openBlurb {
    padding-top: 10px;
    text-align: center;
  }

  #bodyPart {
    text-align: center;
  }

  #symptomText{
    text-align: center;
  }

  .diagnosisBox {
    text-align:center;
  }
}
